.location {
    display: inline-block;
}

.setHome {
    font-size: 0.5rem;
    color: #333;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
}